html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

.table-container {
  margin: 10px auto;
  width: 960px;
}

.table-container table {
  padding: 10px 20px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

.table-container th, td {
  padding: 10px 15px;
}

.table-container thead {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.table-container tbody tr:nth-child(even) {
  background: lightgray;
}

.table-container tfoot tr:last-child {
  background: lightgray;
  font-weight: bold;
}

.table-container thead th:first-child {
  text-align: left;
  border-top-left-radius: 5px;
}

.table-container thead th:last-child {
  border-top-right-radius: 5px;
}

.table-container tbody td {
  text-align: center;
}

.table-container tbody td:first-child {
  text-align: left;
}

.table-container tbody td:first-child strong {
  display: block;
  color: black;
}

.table-container td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.table-container td:first-child {
  border-left: 1px solid black;
}

.table-container tfoot .foot-rb {
  border-right: 1px solid black;
}

.table-container tfoot td {
  text-align: right;
}

.table-container tfoot tr:nth-child(3) td:last-child {
  border-bottom-right-radius: 5px;
}

.table-container tfoot tr:nth-child(3) td:first-child {
  border-bottom-left-radius: 5px;
}

.table-container tbody td:nth-child(2) {
  padding: 5px 25px;
}

.table-container .book-author {
  color: gray;
}

.holder {
  max-width: 960px;
  height: 500px;
  position: relative;
  background: #ededed;
  margin: 0 auto;
  border: 2px dashed black;
}

.with-top-margin {
  margin-top: 30px;
  background: #fff;
  font-size: 16px;
  border: 1em solid black;
  padding: 10px;
}

.with-top-margin img {
  width: 200px;
  float: right;
  margin-left: 1em;
}

.red-box {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: red;
  color: #fff;
}

.blue-box, .black-box {
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.blue-box {
  margin-left: 200px;
  background: blue;
  color: #fff;
}

.black-box {
  margin-left: 200px;
  color: #fff;
  background: black;
}

.footer {
  position: absolute;
  bottom: 0;
  background: orange;
  width: 100%;
  text-align: center;
}

.primary, .secondary {
  padding: 20px;
}

.primary {
  float: left;
  width: 60%;
  background: red;
}

.secondary {
  float: right;
  width: 200px;
  background: yellow;
}